<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Santa Clara University</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Ask Bronco Login" />
<!-- css -->
<link href="../static/registercss/bootstrap.min.css" rel="stylesheet" />
<link href="../static/registercss/cubeportfolio.min.css" rel="stylesheet" />
<link href="../static/registercss/style.css" rel="stylesheet" />



<!-- Theme skin -->
<link id="t-colors" href="skins/default.css" rel="stylesheet" />

	<!-- boxed bg -->
	<link id="bodybg" href="bodybg/bg1.css" rel="stylesheet" type="text/css" />
     <!-- jQuery -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/js/myIT.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
   

</head>

<body font color="#000" >

    <div id="wrapper">
		<!-- start header Santa Clara University Logo-->
		<header>
			
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ><img src="../static/registerimg/logo.png" alt="" width="350" height="60" /></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                       
                         <li> <a href="/home">Home</a></li>
                        <li> <a href="logout">Logout</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
	</header>
	<!-- end header -->
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12" id = "ok">
				AskBronco
			</div>
			
		</div>
	</div>
	</section>
        
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                 	<div class="col-xs-12 col-sm-12 col-md-10  col-md-offset-1">
                    
                        <h2 class="page-header" > {% if username %}<strong> MyIT Home</strong> {% endif %} </h2>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                
                <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12  col-md-offset-1">
                
                <div class="col-lg-8">
                <div class="panel panel-default">
						<div class="panel-heading" >
                                        {% if username %}<strong> {{username}}'s  Recent Tickets </strong> {% endif %} 
                        </div>
						<div class="panel-body" >
							<div class="table-responsive table-bordered">
                                <table class="table table-hover" color:"#000"id="recentITTickets">
                                    <thead>
                                        <tr>
                                            <th>Ticket#</th>
                                            <th>Status</th>
                                            <th>Open Date</th>
                                            <th>Category</th>
                                            <th>Summary</th>
                                        </tr>
                                    </thead>
                                    <tbody id="recentITTicketsBody">
                                    </tbody>
                                </table>
                            </div>
							
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
						
						<div class="panel-footer">
										<a href="ticketsummaryIT.html" style="color:#990000">
                                        Load More Tickets..</a>
                                    </div>
                    	</div>
                    <!-- /.panel -->
                   
				<div class="panel-body">
				<div class="row">
				
                <div class="col-lg-3">
				
				<a href="https://www.scu.edu/technology/get-connected/logins--accounts/">
				<h4>Logins/Accounts </h4>
				</a>
				 
                 
					<div class="thumbnail" href="https://www.scu.edu/technology/get-connected/logins--accounts/"">
                                <img src="../static/images/IT_login.png" alt="HTML5 Icon" width="80%" height="200">
                       </div>
				
                        <!--<div class="panel-heading">
                           <button type="button" style="background-color: #C70039;border-color:#C70039" class="btn btn-primary btn-block btn-lg"> <a href="https://www.scu.edu/technology/get-connected/logins--accounts/" style=" color: #FFFFFF" > Logins/ <br/>Accounts   </a></button> 
                        </div>
                       -->
                 
					
				</div>
				
				
				<div class="col-lg-3">
				
				<a  href="https://www.scu.edu/technology/get-connected/wireless/" >
				<h4>Campus Wireless </h4>
				</a>
				
                    
                    <div class="panel-body">
					<a class="thumbnail" = href="https://www.scu.edu/technology/get-connected/wireless/" >
                                <img src="../static/images/IT_wireless.png"  alt="IT_wireless Icon" width="80%" height="100">
                       </a>
					   </div>  
					   <!--
                        <div class="panel-heading">
                           <button type="button" style="background-color: #C70039;border-color:#C70039" class="btn btn-primary btn-block btn-lg"> <a href="https://www.scu.edu/technology/get-connected/logins--accounts/" style=" color: #FFFFFF" > Logins/ <br/>Accounts   </a></button> 
                        </div>
                       -->
                 
				</div>
				
				
				<div class="col-lg-3">
				
				<a href="https://www.scu.edu/technology/get-connected/networking/">
				<h4>Campus Network </h4>
				</a>
				 
                 
					<a class="thumbnail" href="https://www.scu.edu/technology/get-connected/networking/">
                                <img src="../static/images/IT_campusNet.png" alt="HTML5 Icon" width="80%" height="100">
                       </a>
				
                
					
				</div>
				
				<div class="col-lg-3">
				
				<a href="https://www.scu.edu/technology/get-connected/registering-a-device/">
				<h4>Register Device</h4>
				</a>
				 
                 
				<a class="thumbnail" href="https://www.scu.edu/technology/get-connected/registering-a-device/">
                 <img src="../static/images/IT_rd.png" alt="HTML5 Icon" width="80%" height="100">
                 </a>
				
					
				</div>
				
			
				
				</div><!-- End of row 1-->
				
				<div class = row>
				
				<div class="col-lg-3">
				
				<a href="https://www.scu.edu/technology/get-help/faqs/">
				<h4>FAQs</h4>
				</a>
				 
                 
				<a class="thumbnail" href="https://www.scu.edu/technology/get-help/faqs/">
                 <img src="../static/images/IT_faq.png" alt="HTML5 Icon" width="80%" height="100">
                 </a>
				
					
				</div>
				
				<div class="col-lg-3">
				
				<a href="https://www.scu.edu/technology/get-connected/google-apps/">
				<h4>Gmail</h4>
				</a>
				 
                 
				<a class="thumbnail" href="https://www.scu.edu/technology/get-connected/google-apps/">
                 <img src="../static/images/IT_gmail.png" alt="HTML5 Icon" width="80%" height="100">
                 </a>
				
					
				</div>
				
				<div class="col-lg-3">
				
				<a href="https://www.scu.edu/technology/get-connected/ecampus/">
				<h4>eCampus</h4>
				</a>
				 
                 
				<a class="thumbnail" href="https://www.scu.edu/technology/get-connected/ecampus/">
                 <img src="../static/images/IT_eCampus.png" alt="HTML5 Icon" width="80%" height="100">
                 </a>
				
					
				</div>
				
				<div class="col-lg-3">
				
				<a href="https://www.scu.edu/technology/computing-services--support/software-/">
				<h4>Software</h4>
				</a>
				 
                 
				<a class="thumbnail" href="https://www.scu.edu/technology/computing-services--support/software-/">
                 <img src="../static/images/IT_software.jpg" alt="HTML5 Icon" width="80%" height="100">
                 </a>
				
					
				</div>
				
				
				
              
				

					

                 </div>	   
                </div>
                </div>
				
				<div class="col-lg-3">
                    <div class="panel panel-default">
						<div class="panel-body">
							<button type="button" style="background-color: #C70039;border-color:#C70039" class="btn btn-primary btn-block btn-lg"> <a href="createTicket_IT.html" style=" color: #FFFFFF" >  Log a New Ticket  </a></button> 
						</div>
                    <!-- /.panel -->
                </div>
				</div>	
						
                    </div>
                    <!-- /.panel -->
                    
                <!-- /.col-lg-6 -->
				
            </div>
			
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

   

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

	
    <!-- Metis Menu Plugin JavaScript -->
    <script src="../static/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/dist/js/sb-admin-2.js"></script>

   

</body>

</html>
